<div class="head-strip">
    <div id="prime">
      <a routerLink="/"><h1>PRIME</h1></a>
    </div>

    <div class="types">
        <a routerLink="/applications"><h1>APPLICATIONS</h1></a>
    </div>

    <div class="types">
        <a routerLink="/reviews"><h1>REVIEWS / IDEAS</h1></a>
    </div>

    <div class="types">
        <a routerLink="/about"><h1>ABOUT</h1></a>
    </div>

    <div class="types">
        <a routerLink="/contact"><h1>CONTACT US</h1></a>
    </div>

    <div class="types">
      <a routerLink="/devtools"><h1>DEVELOPER TOOLS</h1></a>
    </div>
    
    <div id="login">
      <a routerLink="/login"><h1>LOGIN</h1></a>
    </div>
    
  </div>
  
  <hr>

