<div>
    <h1>LOGIN</h1>
    <form action="http://localhost:4201/signup" method="post">
        <label for="username">Username: </label><br>
        <input id="username" type="text" name="username"><br><br>
        <label for="username">Password: </label><br>
        <input id="password"type="text" name="password"><br><br>
        <button id="login" type="submit">Log In</button><br><br>
    </form>
    <a routerLink="/signup">Sign up?</a><br>
    <a routerLink="/forgot-password">Forgot Password?</a>
</div>
